button{
    border:0.125rem solid $primary-text-colour;
    background-color: transparent;
    text-align: center;
    padding: 0.9rem 1.25rem;
    outline:none;
    width: 12.5rem;
    color:$primary-text-colour ;
    border-radius: 0.3rem;
    transition: 0.75s;

    &:hover{
        width: 19rem;
        background-color: $primary-text-colour;
        color: black;
        box-shadow: 0 0rem 1rem $primary-text-colour;
    }
}

.conbtn{
    margin-top: 3rem;
}

.logbtn{
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.loginbtn{
    margin-top: 5rem;
    margin-bottom: 25rem;
}