input{
    padding: 0.5rem;
    margin-bottom: 4rem;
    border: none;
    border-bottom: 0.063rem solid $primary-text-colour;
    border-radius: 0.313rem;
    border-width: 0.125rem;
    width:15.625rem;
    color: $primary-text-colour;
    background-color: transparent;
    font-size: 1.1rem;
    font-family:font;
    text-align: center;
    opacity: 0.5;

    &::placeholder{
        color: $primary-text-colour;
        opacity: 0.2;
    }
}

@media (min-width: 771px) {input{width: 350px;}}
@media (min-width: 992px) {input{width: 220px;}}
@media (min-width: 1200px) {input{width: 270px;}}

input[type="email"]
{
    @media (min-width: 992px) {width: 450px;}
    @media (min-width: 1200px) {width: 550px;}
}

input[name="bstreetaddress"], [name="dstreetaddress"], [name="loginemail"], [name="loginpassword"]
{
    @media (min-width: 992px) {width: 450px;}
    @media (min-width: 1200px) {width: 550px;}
}

input[type="checkbox"]
{
   margin :0;
}

input[type="submit"]
{
    border:0.125rem solid $primary-text-colour;
    background-color: transparent;
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    padding: 0.875rem 1.25rem;
    outline:none;
    width: 12.5;
    color:$primary-text-colour;
    border-radius: 0.313rem;
    transition: 0.25s;

    &:hover{
        width: 18.75rem;
    }
}

